name: Sonar Cloud

on:
    push:
        branches:
            - main
    pull_request:
    workflow_dispatch:

jobs:
    sonarcloud:
        name: SonarCloud
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6
              with:
                  ref: ${{ github.event.pull_request.head.sha }}
                  fetch-depth: 0
             
            - name: Cache Composer dependencies
              uses: actions/cache@v5
              with:
                  path: /tmp/composer-cache
                  key: ${{ runner.os }}-${{ hashFiles('**/composer.lock') }}

            - name: Install dependencies
              uses: php-actions/composer@v6

            - name: Docker compose up
              run: docker compose up -d

            - name: Make script executable
              run: chmod +x tools/wait-for-healthy.sh

            - name: Wait for healthy containers
              run: tools/wait-for-healthy.sh

            - name: PHPUnit Tests
              uses: php-actions/phpunit@v4
              with:
                  version: 11
                  php_version: 8.3
                  php_extensions: xdebug shmop curl pdo pdo_mysql
                  coverage_clover: coverage.xml
                  bootstrap: vendor/autoload.php
                  log_junit: execution.xml
                  configuration: tests/phpunit.xml
                  test_suffix: Test.php
                  args: --coverage-filter src tests
              env:
                  XDEBUG_MODE: coverage

            - name: Fix code coverage paths
              run: |
                  sed -i 's@'$GITHUB_WORKSPACE'@/github/workspace/@g' coverage.xml
                  sed -i 's@'$GITHUB_WORKSPACE'@/github/workspace/@g' execution.xml

            - name: SonarQube Scan
              uses: SonarSource/sonarqube-scan-action@v7.0.0
              env:
                SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
                SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}
